.sidebar-footer-content, .sidebar .sidebar-inner > li.active > a {
    background-color: #ff5959;
}
.btn-primary {
    background: #ff5959;
    border: 1px solid #ff5959;
}
.btn-primary:hover {
    background: #37393d;
    border: 1px solid #37393d;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff5959;
}
